/*-- scss:defaults --*/


.slide-background-content {
  background-image: url('../../../../../our_demands.jpg');
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*-- scss:rules --*/
