/*-- scss:defaults --*/


.slides {
  background-image: url('../../../../../our_demands.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*-- scss:rules --*/
